#include <windows.h>
#include "menus.h"

IDI_APPICON ICON "program_icon.ico"

IDM_MAINMENU MENU {
	POPUP "System Menu"
		BEGIN
		MENUITEM "&About...", IDM_I_ABOUT
		MENUITEM SEPARATOR
		POPUP "&Open..."
		BEGIN
			MENUITEM "Open &File...", IDM_I_OPENFILE
				MENUITEM "Open &Location...", IDM_I_OPENLOC, GRAYED
				MENUITEM "Open &URL...", IDM_I_OPENURL, GRAYED
		END
	MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_I_EXIT
		END
}
